<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Digite seu nome:</ion-label>
    <ion-input clearInput [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Digite sua idade:</ion-label>
    <ion-input type="number" [(ngModel)]="idade"></ion-input>
  </ion-item>

<br>
<ion-button expand="block" (click)="msg()">Mensagem</ion-button>

<p><strong>Nome informado:</strong> {{nome}} </p>
<p><strong>Idade informado:</strong> {{idade}} </p>

{{mensagem}}
<br>
{{situacao}}


</ion-content>
